<a href="https://colab.research.google.com/github/Aenigma-Lab/data-engineering-notebook/blob/main/python/dictionary_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Dictionary: Ordered, dosnot allow duplicate, mutable : it is similer to JSON
#(javascript object notation.)
#{key: value}

x = {

     'fname':'shubham',
     'lname': 'mishra',
     'age' : 27,
     'city': 'mumbai',
     'country': 'india',
     'salary' : 10000000,
     'married' : False,
     'phone_numbers' : [1234567894,9808767874]

}

In [6]:
# value accessing with the help of key.
x['fname']

'shubham'

In [7]:
#find first phone number, with the help of index number.
x['phone_numbers'][0]

1234567894

In [8]:
# find all keys inside the dictionary.

x.keys()

dict_keys(['fname', 'lname', 'age', 'city', 'country', 'salary', 'married', 'phone_numbers'])

In [9]:
# find all the values inside the dictionary.
x.values()

dict_values(['shubham', 'mishra', 27, 'mumbai', 'india', 10000000, False, [1234567894, 9808767874]])

In [10]:
# find keys and values both from dictionary.
x.items()

dict_items([('fname', 'shubham'), ('lname', 'mishra'), ('age', 27), ('city', 'mumbai'), ('country', 'india'), ('salary', 10000000), ('married', False), ('phone_numbers', [1234567894, 9808767874])])

In [13]:
# change first name fname to 'aman'

x['fname'] = 'aman'
print(x)

{'fname': 'aman', 'lname': 'mishra', 'age': 27, 'city': 'mumbai', 'country': 'india', 'salary': 10000000, 'married': False, 'phone_numbers': [1234567894, 9808767874]}

In [16]:
# here adding new value if not present inside the dictionary (adding with key and value).if it is already present it will replace the value.
x['address'] = 'mumbai 43213'
print(x)

{'fname': 'aman', 'lname': 'mishra', 'age': 27, 'city': 'mumbai', 'country': 'india', 'salary': 10000000, 'married': False, 'phone_numbers': [1234567894, 9808767874], 'address': 'mumbai 43213'}

In [17]:
# pop the last item from dictionary: useing popitem

x.popitem()
print(x) # address will pop

{'fname': 'aman', 'lname': 'mishra', 'age': 27, 'city': 'mumbai', 'country': 'india', 'salary': 10000000, 'married': False, 'phone_numbers': [1234567894, 9808767874]}

In [20]:
#clear all data inside the dictionary.
x.clear()
print(x)

{}

In [22]:
# we can use like this also:

y = {

     'fname':'shubham',
     'lname': 'mishra',
     'age' : 27,
     'city': 'mumbai',
     'country': 'india'


}


y.pop('age') # atlest one argument required.

27

In [24]:
x = {

     'fname':'shubham',
     'lname': 'mishra',
     'age' : 27,
     'city': 'mumbai',
     'country': 'india',
     'salary' : 10000000,
     'married' : False,
     'phone_numbers' : [1234567894,9808767874]

}

In [27]:
#unpacking:
for i in x.values():
  print(i)

shubham
mishra
27
mumbai
india
10000000
False
[1234567894, 9808767874]

In [31]:
#del : delete entire dictionary
del x # it delte entire dictionary.

NameError: name 'x' is not defined

In [32]:
# nested dictionary: dictionary inside the dictionary....
students = {
    'student1': {
        'fname': 'shubham',
        'last': 'mishra',
        'age': 27,
        'city': 'mumbai'
    },
    'student2': {
        'fname': 'priya',
        'last': 'sharma',
        'age': 24,
        'city': 'delhi'
    },
    'student3': {
        'fname': 'amit',
        'last': 'verma',
        'age': 26,
        'city': 'pune'
    },
    'student4': {
        'fname': 'neha',
        'last': 'singh',
        'age': 25,
        'city': 'kolkata'
    },
    'student5': {
        'fname': 'rohan',
        'last': 'patil',
        'age': 28,
        'city': 'bangalore'
    }
}

In [34]:
# accessing the student1 info.
students['student1']

{'fname': 'shubham', 'last': 'mishra', 'age': 27, 'city': 'mumbai'}

In [35]:
# accessing the info of student1 info with use of key.
students['student1']['city']

'mumbai'

In [36]:
# if dot know the keys..to get keys.
students['student1'].keys()

dict_keys(['fname', 'last', 'age', 'city'])

In [37]:
# get all keys and values.
students.items()

dict_items([('student1', {'fname': 'shubham', 'last': 'mishra', 'age': 27, 'city': 'mumbai'}), ('student2', {'fname': 'priya', 'last': 'sharma', 'age': 24, 'city': 'delhi'}), ('student3', {'fname': 'amit', 'last': 'verma', 'age': 26, 'city': 'pune'}), ('student4', {'fname': 'neha', 'last': 'singh', 'age': 25, 'city': 'kolkata'}), ('student5', {'fname': 'rohan', 'last': 'patil', 'age': 28, 'city': 'bangalore'})])

In [38]:
#pop the city from student1
students['student1'].pop('city')

'mumbai'

In [39]:
# Another example....

orders = {
    'order1': {
        'customer': 'shubham',
        'items': ['apple', 'banana', 'orange'],
        'total': 1000
    },
    'order2': {
        'customer': 'priya',
        'items': ['milk', 'bread', 'butter'],
        'total': 450
    },
    'order3': {
        'customer': 'amit',
        'items': ['laptop', 'mouse'],
        'total': 55000
    },
    'order4': {
        'customer': 'neha',
        'items': ['shirt', 'jeans', 'shoes'],
        'total': 3200
    },
    'order5': {
        'customer': 'rohan',
        'items': ['pizza', 'coke'],
        'total': 650
    }
}

In [41]:
#to print output as banana from orders.
orders['order1']['items'][1]

'banana'

In [42]:
# get order4 of toal item value.
orders['order4']['total']

3200

In [43]:
# Another example of Employees

employees = {
    'IT': {
        'employee1': {
            'first_name': 'shubham',
            'last_name': 'mishra',
            'age': 27
        },
        'employee2': {
            'first_name': 'priya',
            'last_name': 'sharma',
            'age': 25
        },
        'employee3': {
            'first_name': 'amit',
            'last_name': 'verma',
            'age': 29
        }
    },
    'HR': {
        'employee1': {
            'first_name': 'neha',
            'last_name': 'singh',
            'age': 26
        },
        'employee2': {
            'first_name': 'rohan',
            'last_name': 'patil',
            'age': 31
        },
        'employee3': {
            'first_name': 'sneha',
            'last_name': 'joshi',
            'age': 28
        }
    },
    'Finance': {
        'employee1': {
            'first_name': 'anil',
            'last_name': 'kumar',
            'age': 35
        },
        'employee2': {
            'first_name': 'meera',
            'last_name': 'rai',
            'age': 30
        },
        'employee3': {
            'first_name': 'vijay',
            'last_name': 'shah',
            'age': 33
        }
    },
    'Sales': {
        'employee1': {
            'first_name': 'deepak',
            'last_name': 'yadav',
            'age': 29
        },
        'employee2': {
            'first_name': 'pooja',
            'last_name': 'garg',
            'age': 27
        },
        'employee3': {
            'first_name': 'saurabh',
            'last_name': 'gupta',
            'age': 32
        }
    },
    'Marketing': {
        'employee1': {
            'first_name': 'rahul',
            'last_name': 'shinde',
            'age': 28
        },
        'employee2': {
            'first_name': 'anjali',
            'last_name': 'kapoor',
            'age': 26
        },
        'employee3': {
            'first_name': 'arjun',
            'last_name': 'nair',
            'age': 30
        }
    }
}

In [44]:
# find all the employees of HR
employees['HR']

{'employee1': {'first_name': 'neha', 'last_name': 'singh', 'age': 26},
 'employee2': {'first_name': 'rohan', 'last_name': 'patil', 'age': 31},
 'employee3': {'first_name': 'sneha', 'last_name': 'joshi', 'age': 28}}

In [48]:
# In HR find employee2 first_name
employees['HR']['employee2']['first_name']

'rohan'

In [49]:
# get all keys of HR
employees['HR'].keys()

dict_keys(['employee1', 'employee2', 'employee3'])

In [ ]:
fruits = {
    'apple': {
        'color': 'red',
        'taste': 'sweet'
    },
    'banana': {
        'color': 'yellow',
        'taste': 'sweet'
    },
    'orange': {
        'color': 'orange',
        'taste': 'citrusy'
    },
    'grape': {
        'color': 'purple',
        'taste': 'sweet-tart'
    },
    'lemon': {
        'color': 'yellow',
        'taste': 'sour'
    }
}