<a href="https://colab.research.google.com/github/Aenigma-Lab/data-engineering-notebook/blob/main/python/list_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Operations

**string slicing**

In [ ]:
# List is ordered, allow duplicates, mutable, hetrogeneous

x = [1,2,3,4,'shubham',True,1.004]

# print last three index from list. NOte------ Lower number will always first(-3) and higher number in laset
print(x[-3:])

print(x[:3])# print index 0-2 here third index will excluded.

print(x[-1:2]) # the ending point should be after the starting point then only it will correct

print(x[-3:7])

['shubham', True, 1.004]
[1, 2, 3]
[]
['shubham', True, 1.004]

In [2]:
#[start:stop:step]-- its start with 0 index stop at last index and take steps to move 2 index every time.
x = [1,2,3,4,'shubham',True,1.004]
x[::2]

[1, 3, 'shubham', 1.004]

In [3]:
#reverse
x[::-1]

[1.004, True, 'shubham', 4, 3, 2, 1]

In [9]:
#find the index of last element in list
x = [1,2,3,4,'shubham',True,1.004]
print(x.index(x[-1]))

print(len(x)-1)

6
6

In [31]:
# String Mutable:  add, remvoe, replace, remove the list.

z = [1,2,3,3,4,5,5,5,6,7]

In [32]:
# add elements in list:

# append------> add element at end of list.
# extend------>
# insert------>


z.append(10)
print(z)

[1, 2, 3, 3, 4, 5, 5, 5, 6, 7, 10]

In [33]:
# we can also append the object in the list.

z.append(['apple','banana'])
print(z)

[1, 2, 3, 3, 4, 5, 5, 5, 6, 7, 10, ['apple', 'banana']]

In [34]:
len(z) # here ['apple','banana'] will count as 1 not 2 it is object its conunt 1.

12

In [37]:
#Interview Q : append vs extend
# append means add single element or single object to the end of the list , and extend means break the second object and merge the secod object to the list.
# extend : if two list we can merge to make it single list extend work like that.(it will open the basket and put 2nd list element in fist and merge.)

# if we have the same elements dublicates will be added. ex; cherry.
x = ['apple','orange','banana', 'cherry']
y = ['manago','pineapple','cherry']
x.extend(y)
print(x)

['apple', 'orange', 'banana', 'cherry', 'manago', 'pineapple', 'cherry']

In [39]:
# insert: insert an element into the list. syntex: insert(which position, what to)
a = ['apple','orange','banana', 'cherry']
a.insert(1,'pineapple')
print(a)

['apple', 'pineapple', 'orange', 'banana', 'cherry']

In [ ]:
# remove | pop

# remove : we need to mention what we need to remove not the postion of what to remove.(interview question)
# remove is used to remove the single element form the list.

c = ['papaya','jackfruit','pomogranate','banana']
c.remove('jackfruit')

print(c)

['papaya', 'pomogranate', 'banana']

In [48]:
# if we have same element of multiple time then what happen. (it will only remove once the element.)

d = ['apple','banana','orange','apple']
d.remove('apple')
print(d)

['banana', 'orange', 'apple']

In [49]:
# pop : remove something based on a position , if i dont mention the postion then it will remove the last element.
# pop will also return the removed element. we can also store removed element in varible.
d.pop()

'apple'

In [51]:
d.pop(0) # it will remove last element

'banana'

In [52]:
# diffrent between remove and pop(rare inteview questions)

In [53]:
# clear() : we clear everything.
d.clear()
print(d)

[]

In [58]:
# del
fruits = ["apple", "banana", "cherry"]
del fruits[1]     # Deletes "banana"
print(fruits)     # Output: ['apple', 'cherry']

['apple', 'cherry']

In [59]:
# Deleting multiple items from a list

numbers = [1, 2, 3, 4, 5]
del numbers[1:4]  # Deletes 2, 3, 4
print(numbers)    # Output: [1, 5]

[1, 5]