<a href="https://colab.research.google.com/github/Aenigma-Lab/data-engineering-notebook/blob/main/python/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# tuple : Ordered, allows duplicates, immutable (not changeable), hetrogeneous

x = (1,2,3,4,5)
x[0]

1

In [3]:
x.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

In [4]:
x[0:3]

(1, 2, 3)

In [5]:
x.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
# if we want changes in the tuple first convert into list and then do operation and after operations convert into tuple..

y= list(x)
print(y)

[1, 2, 3, 4, 5]

In [9]:
y.append(10)
print(y)

[1, 2, 3, 4, 5, 10]

In [13]:
#after operation convert into tuple from list.
x = tuple(y)
type(x)
print(y)

[1, 2, 3, 4, 5, 10]

# Interview question List vs tuple----imp